body {
  padding-top: 10px;
  padding-bottom: 40px;
  background: url('../img/ravenna.png');
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  color: #474747 !important;
  text-shadow: 0px 2px 3px #DEFFD8;
}
h2 {
  color: #474747;
  text-shadow: 0px 2px 3px white;
}
.hero-unit {
  padding: 20px;
  background-color: rgba(184, 184, 184, 0.2);
  position: relative;
}
.photo {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.profile {
  width: 80%;
  font-family: cursive;
  margin-top: 8px;
}
.twitter-follow-button {
  position: absolute;
  right: 10px;
  top: 120px;
}
.github-star {
  position: absolute;
  right: 10px;
  top: 160px;
}
.block {
  border-left: solid 1px silver;
  padding: 0 10px;
  margin: 10px 0;
}
footer p {
  text-align: right;
}